$color-light: #fff;
$color-dark: #212121;
$color-secondary: #616161;
$color-accent: #ff5722;

@mixin ease {
  transition: all 0.5s ease-out;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-up {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

// Media Query Mixins
@mixin lg {
  @media all and (max-width: 1200px) {
    @content;
  }
}
@mixin md {
  @media all and (max-width: 900px) {
    @content;
  }
}
@mixin sm {
  @media all and (max-width: 600px) {
    @content;
  }
}
